<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Disable WebSockets in IIS if using SignalR via proxy/rewrites -->
    <webSocket enabled="false" />
    
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>
    
    <rewrite>
      <rules>
        <!-- Node Inspector for debugging -->
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^server.js\/debug[\/]?" />
        </rule>
        
        <!-- Serve Static Content Directly -->
        <rule name="StaticContent" stopProcessing="true">
          <match url="^public\/.+" />
          <action type="Rewrite" url="public{REQUEST_URI}" />
        </rule>
        
        <rule name="NextJsStatic" stopProcessing="true">
          <match url="^(_next/static/.*)$" />
          <action type="Rewrite" url=".next/static/{R:1}" />
        </rule>
        
        <!-- Route all other requests to Next.js server.js -->
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
          </conditions>
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>
    
    <security>
      <requestFiltering>
        <hiddenSegments>
          <remove segment="bin" />
        </hiddenSegments>
      </requestFiltering>
    </security>
    
    <httpErrors existingResponse="PassThrough" />
    
    <iisnode
      node_env="production"
      nodeProcessCommandLine="&quot;%programfiles%\nodejs\node.exe&quot;"
      interceptor="&quot;%programfiles%\iisnode\interceptor.js&quot;"
      loggingEnabled="true"
      logDirectory="iisnode"
      debuggingEnabled="false"
      devErrorsEnabled="true"
      watchedFiles="web.config;server.js"
    >
      <environmentVariables>
        <!-- IMPORTANT: Update this IP to match your production backend -->
        <add name="NEXT_PUBLIC_API_URL" value="http://192.168.18.69:8080" />
      </environmentVariables>
    </iisnode>
  </system.webServer>
</configuration>

